{% extends 'base.html.twig' %}

{% block title %}Hello IngredientsController!
{% endblock %}

{% block body %}
		<table class="table">

	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nom</th>
			<th scope="col">Type</th>
			<th scope="col">Quantité</th>
		</tr>
	</thead>
	<tbody>

			{% for ingredient in ingredients %}

				<tr>
					<th scope="row">{{ingredient.id}}</th>
					<td>{{ingredient.name}}</td>
					<td>{{ingredient.type}}</td>
					<td>{{ingredient.quantity}}</td>
				</tr>

			{% endfor %}
	</tbody>
</table>
{% endblock %}
